MY_VOICE_PROVIDER=none
MY_VOICE_MODEL=
MY_VOICE_BASE_URL=
MY_VOICE_API_KEY=
MY_VOICE_BEDROCK_REGION=us-east-1
MY_VOICE_HTTP_BEARER_TOKEN=change-me
MY_VOICE_HTTP_ALLOW_UNAUTH_LOCALHOST=true
MY_VOICE_HOST=0.0.0.0
MY_VOICE_PORT=3000
MY_VOICE_DATA_DIR=./profiles
MY_VOICE_MAX_SOURCE_CHARS=120000
MY_VOICE_MAX_SOURCE_TOKENS=30000
